<% include ../partials/main-header.ejs %>
<% include ../partials/header.ejs %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <!-- Maps go here -->
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="card-img-top img img-responsive" src="<%= camp.image %>">
                <div class="card-body"> 
                <div class="card-title text-primary">
                    <%= camp.Name %>
                    <span class="pull-right"> $ <%= camp.price %> / night</span>
                </div>
                <div class="card-text text-justify">
                    <%= camp.description %>
                    <br/>
                    <br/>
                    <a class="btn btn-warning btn-sm" href="/campgrounds/<%= camp._id %>/edit">Edit</a>
                    <form class="delete-form" id="deletepost" action="/campgrounds/<%= camp._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </form>
                    <hr/>
                    <span class="text-muted pull-left"> Added by <%=camp.author.username %> </span>
                    <span class="text-muted pull-right">Updated <%= camp.created.getMinutes() %> min ago </span>
                </div> 
            </div>
        </div>
        <br>
        <section>
                <h4> Add a comment </h4>
        </section>
</div>

<% include ../partials/footer.ejs%>